@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
body {
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
      sans-serif;
    @apply bg-slate-50 text-slate-900;
}

  #root {
    @apply min-h-screen;
  }
}
